body{ 
  background-color: #D33;
  color: #ddddd;
  font-family: impact, Lucida Sans Unicode, Monospaced font; 
  Margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px dotted #dddddd;
  border-bottom: 3px dotted #dddddd;
  border-left: 3px dotted #dddddd;
  border-right: 3px dotted #dddddd;
  background-color: rgba(0,0,0,.3)
}
  
h1 { 
  color: ;
}

 ul {
  color: white;
}

 p { 
  color: white;        
} 

img {  
  border: 10px outset #dddddd;
  float: right; 
}

h1{ 
border-bottom: 3px groove
 
}
